button {
    display: flex;
    align-items: center;
    justify-content: center;

    &.btn {
        &-base {
            height: 40px;
            padding: 12px 24px;
            border-radius: 4px;

            p {
                margin: 0;
            }

            &--primary {
                background-color: #3661EB;
                border: 1px solid #3661EB;
                color: #FFF;
            }
            &--secondary {
                background-color: #FFF;
                border: 1px solid #3661EB;
                color: #3661EB;
            }
            &--tertiary {
                background-color: #FFF;
                border: 1px solid #FFF;
                color: #3661EB;
            }
        }

        &-icon {       
            border-radius: 100%;
            border: none;
            width: 30px;
            height: 30px;
            margin-right: 10px;

            &--primary {
                background-color: #3661EB;
            }
            &--success {
                background-color: #378C77;
            }
            &--danger {
                background-color: #F04438;
            }
        }
    }
}