@import "./components/reports.scss";
@import "./components/tables";
@import "./components/header";
@import "./components/badge";
@import "./components/buttons";
@import "./components/cards";
@import "./components/panel";
@import "./components/accordion";

.label {
    &--g {
        color: #554E53;
    }
    &--lg {
        color: #A7A7A7;
    }
}

.st-flex {
    display: flex;
    align-items: center;

    &--space-between {
        justify-content: space-between;
    }
}

body {
    background-color: #f5f5f5;
}